@import "./variables.scss";

#create_page_container{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0;
    gap: 2rem;
    margin: 0 auto;
    width: 90%;

    .main_title{
        font-size: 3rem;
        font-family: $font-pilated;
        font-weight: 600;
        padding: 0;
        color: $color-accent;
        margin: 1rem 0;
    }

    .create_form{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .create_form_label{
            font-size: 1.5rem;
            font-family: $font-roboto-serif;
            font-weight: 400;
            padding: 0;
            margin: 1rem 0 0;
            color: $color-light;
        }

        .form_container{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            padding: 0;
            margin: 0;
            width: 100%;
            align-items: flex-start;

            .form_text_inputs{
                display: flex;
                flex-direction: column;
                width: fit-content;
                gap: 2rem;

                .form_container_text{
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    align-items: center;
                    gap: 2rem;
                }
            }

            .form_file_inputs{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                margin: 0;
                padding: 0;
            }

        }

        .errors{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: $color-dark-80;
            padding: 1rem;
            width: fit-content;
            

            .errors_heading{
                color: $color-light;
                font-family: $font-roboto-serif;
                font-weight: 500;
                padding: 0 0 0.5rem;
                margin: 0;
                font-size: 1.25rem;
            }

            .error{
                color: $color-light;
                font-size: 1rem;
                font-family: $font-roboto-serif;
                font-weight: 400;
                padding: 0;
                margin: 0;
            }
        }
        
        .save_btn{
            background-color: $color-accent;
            font-size: 1.5rem;
            font-family: $font-roboto-serif;
            font-weight: 400;
            color: $color-light;
            padding: 1rem 2rem;
            height: fit-content;
            width: fit-content;
            border: none;
            margin: 0;
        }

        .save_btn:hover{
            opacity: 0.8;
        }
        
    }

}