.icon_button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
.icon_button img {
    width: 2rem;
    height: 2rem;
}