@import './variables.scss';

.logo_container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#icon_logo {
    height: 4rem;
}

#logo_text {
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Pilated';
    color: $color-light;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
}