@import './variables.scss';

.side_menu {
    margin: 0;
    background-color: $color-dark-80;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    scrollbar-width: 0;
    padding: 0 1rem 1rem;
    ::-webkit-scrollbar{
        display: none;
    }
    display: flex;
    flex-direction: column;

    .menu_container {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 3rem;

    }
}

