@import "./variables.scss";


.input_container {
    position: relative;
    height: 3rem;
  }

.input {
    box-sizing: border-box;
    font-size: 1rem;
    font-family: $font-roboto-serif;
    font-weight: 400;
    color: $color-light;
    border: 1px solid $color-light-70;
    background-color: transparent;
    line-height: 1.5rem;
    padding: 0.75rem 0 0.75rem 1rem;
    width: 17rem;
}

.full_width{
  width: 100%;
  .input{
    width: 100%;
  }
}

.input:hover{
    border: 1px solid $color-light;
}

.label {
    margin-left: 1rem;
    margin-top: -2.25rem;
    display: flex;
    align-items: center;
    pointer-events: none;
    font-size: 1rem;
    font-family: $font-roboto-serif;
    font-weight: 400;
    color: $color-light-70;
    z-index: 100;
    padding: 0;
    margin-bottom: 0;
  }


  .input:focus{
    outline: none;
    border: 1px solid $color-accent;
}
  
  .label .text {
    transition: all 0.15s ease-out;
  }



  
  .input:focus + .label .text, :not(input[value=""]) + .label .text{
    font-size: 0.875rem;
    transform: translate(0, -150%);
    background-color: $color-background;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .input:focus + .label .text.dark, :not(input[value=""]) + .label .text.dark{
    background-color: $color-dark;
  }

  .input:focus + .label .text {
    color: $color-accent;
  }
    