@import './variables.scss';

.user_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0;
    align-items: center;

    img {
        height: 2rem;
    }

    .username{
        font-size: 1.25rem;
        font-family: $font-roboto-serif;
        color: $color-light;
        font-weight: 400;
        margin: 0;
    }
}

.filled_button {
    background-color: $color-light;
    border-radius: 0;
    font-size: 1.25rem;
    font-family: $font-roboto-serif;
    color: $color-dark;
    font-weight: 400;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
}

.filled_button:hover {
    opacity: 0.8;
}

.button_with_icon {
    background-color: transparent;
    font-size: 1.25rem;
    font-family: $font-roboto-serif;
    color: $color-light;
    font-weight: 400;
    cursor: pointer;
    border: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.button_with_icon img {
    transition: transform 0.5s ease;
}

.button_with_icon:hover{
    opacity: 0.8;

    img {
        transform: translateX(2rem);
    }
}
