$color-background: #592828;
$color-dark: #1A0A0A;
$color-dark-80: rgba($color-dark, 0.8);
$color-light: #FCF4F4;
$color-light-70: rgba($color-light, 0.7);
$color-accent: #BD5454;
$color-accent-80: rgba($color-accent, 0.8);

$font-roboto-serif: 'Roboto serif';
$font-pilated: 'Pilated';